.listItem {
  min-width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.listItem:not(:last-child) {
  margin-bottom: 10px;
}

.listItem:hover {
  box-shadow: 0 0 5px;
}

.name {
  line-height: 30px;
}

.Btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s linear;
}

.Btn:hover {
  transform: scale(1.3);
}
