.container {
  padding-top: 20px;
  max-width: 900px;
  min-height: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: #3645ab;
  font-weight: 900;
}
